body {
    text-align: center;
    background-color: black;
}

h1{
    color: white;
}

h3 {
    color: white;
}


.btn {
    /* position: relative; */
    height: 200px;
    width: 200px;
    border: 0.75rem solid black;
    margin: 0.5rem;
    opacity: 0.3;
}

.score{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    box-shadow:0 0 10px white;
    border: 0.2rem solid black;
    position: absolute;
    left: 710px;
    top: 310px;
    background-color: #004;
}

.btn:hover {
    opacity: 1;
    box-shadow: 0 0 10px #1cb5e0;
}

.line-one {
    display: flex;
    justify-content: center;
}

.line-two {
    display: flex;
    justify-content: center;
}


.green {
    border-top-left-radius:100%;
    background-color: #34e89e;
}

.red {
    border-top-right-radius:100%;
    background-color: #ef3b36;
}

.yellow {
    border-bottom-left-radius:100%;
    background-color: #ffc371;
}

.blue {
    border-bottom-right-radius:100%;
    background-color:  #1cb5e0;
}


.flash {
    background-color: white;
    opacity: 1;
}

.userflash {
    background-color: white;
    opacity: 1;
}
