body {
    margin: 0;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    margin-top: 20px;
}

h2, h3 {
    font-size: 20px;
    margin: 10px 0;
}

.game-area {
    position: relative;
    width: 440px;
    height: 440px;
    margin: 60px auto;
}

.btn-container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line-one,
.line-two {
    display: flex;
    justify-content: center;
}

.btn {
    height: 200px;
    width: 200px;
    margin: 0.5rem;
    border: 0.75rem solid black;
    opacity: 0.3;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
    box-shadow: 0 0 10px #1cb5e0;
}


.green {
    border-top-left-radius: 100%;
    background-color: #34e89e;
}

.red {
    border-top-right-radius: 100%;
    background-color: #ef3b36;
}

.yellow {
    border-bottom-left-radius: 100%;
    background-color: #ffc371;
}

.blue {
    border-bottom-right-radius: 100%;
    background-color: #1cb5e0;
}


.score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004;
    box-shadow: 0 0 10px white;
    border: 0.2rem solid black;
}


.flash,
.userflash {
    background-color: white;
    opacity: 1;
}

 footer {
    text-align: center;
    color: #f7f8fc;
  }
